.App {
  display: flex;
  margin:0 auto;
  width:80%;
}

#VideoFeed {
  border: 2px solid #333;
  min-width: 800px;
  min-height: 600px;  
  margin:2em;
  border-radius: 1em;
}

#RadarView {
  border: 2px solid #333;    
  margin:2em;
  border-radius: 1em;
}

#GamePadView {    
  border: 2px solid #333;
  margin:2em;
  border-radius: 1em;
}

.controlHeader {
  background-color: #333;
  overflow: auto;
  text-align: center;  
  color:#AAA;
}

#GamePadView > .controlBody {
  display: flex;
  padding: 2em;
  align-items: center;
}

.btnStateOff {
  padding:1em;
  background-color: black;
  border:1px solid #000;
  border-radius: 1em;
  color:orange;
  margin:.2em;
}

.btnStateOn {
  padding:1em;
  background-color:#666;
  border:1px solid #000;
  border-radius: 1em;
  color:orange;
  font-weight: bold;
  margin:.2em;
}