body {
  margin: 0;
  font-family: monospace;
  text-transform: lowercase;
  background-color: #222;
  color:#3a3;
}

.green-txt {
  color: #2d2;
}

.red-txt {
  color: #d22;
}

.yellow-txt {
  color: #dd2;  
}
